.product-container {
  padding: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.loadMore {
  margin: 0.5rem;
  /* float: right; */
  cursor: pointer;
  border: none;
  outline: none;
}
